# Data
data/
*.npy
*.pt
*.pth
*.csv

# De thi, Submission va file zip
*.zip
THUNGHIEM*
*bo-de-thi*
submission/
submissions/
bo_de_thi/
round1_queries/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# IDEs
.vscode/
.idea/
.DS_Store
